<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!cognitiveErrors?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="cognitiveErrors.length">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cognitiveError of cognitiveErrors">
      <td>{{ cognitiveError.key }}</td>
      <td>{{ cognitiveError.value }}</td>
    </tr>
  </tbody>
</table>
