@using Microsoft.AspNetCore.Identity;

@inject BaseAuthenticationStateProvider AuthenticationStateAsync
@inject UserManager<User> UserManager;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ПСИОНИК</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3 nav-link">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="account/logout" title="Выход">
                                <span aria-hidden="true"></span> Выход
                            </NavLink>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="account/login" title="Вход">
                                <span aria-hidden="true"></span> Вход
                            </NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>
        <div class="nav-item px-3 nav-link" style="color:#d7d7d7;">
            Главное меню
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-2-l" href="/references">
                <span class="oi oi-info" aria-hidden="true"></span> Справочная информация
            </NavLink>
        </div>
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link nav-link-2-l" href="/profile">
                            <span class="oi oi-person" aria-hidden="true"></span> Мой профиль
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
        <CascadingAuthenticationState>
            <AuthorizeView Roles="Client">
                <Authorized>
                    <div class="nav-item px-3 nav-link" style="color:#d7d7d7;">
                        Клиенту
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link nav-link-2-l" href="diary/three-columns" style="padding-right: 0!important;">
                            <span class="oi oi-plus" aria-hidden="true"></span> Техника трёх<br />колонок
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link nav-link-2-l" href="diary/automatic-thoughts" style="padding-right: 0!important;">
                            <span class="oi oi-plus" aria-hidden="true"></span> Дневник<br />автоматических мыслей
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link nav-link-2-l" href="diary/anti-procrastination" style="padding-right: 0!important;">
                            <span class="oi oi-plus" aria-hidden="true"></span> Дневник<br />антипрокрастинации
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="Psychologist">
                <Authorized>
                    <div class="nav-item px-3 nav-link" style="color:#d7d7d7;">
                        Психологу
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link nav-link-2-l" href="review/three-columns" style="padding-right: 0!important;">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Техника трёх<br />колонок
                        </NavLink>
                    </div>
                    <div class="nav-item px-3">
                        <NavLink class="nav-link nav-link-2-l" href="review/automatic-thoughts" style="padding-right: 0!important;">
                            <span class="oi oi-pencil" aria-hidden="true"></span> Дневник<br />автоматических мыслей
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
