@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
<PageTitle>КПТ</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @{
                if (IsAuthenticated)
                {

                    <a href="account/logout">Выйти</a>
                }
                else
                {

                    <a href="account/login">Войти</a>
                }
            }
        </div>

        <article class="content px-4">
            @Body
            <Syncfusion.Blazor.Popups.SfDialogProvider />
        </article>
    </main>
</div>

@code{
    public bool IsAuthenticated{ get; private set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        IsAuthenticated = user.Identity is not null && user.Identity.IsAuthenticated;

        await base.OnInitializedAsync();
    }
}