@inherits LayoutComponentBase

@inject BaseAuthenticationStateProvider AuthenticationStateProvider

<PageTitle>ПСИОНИК</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenuComponent />
    </div>

    <main>
        <div class="top-row px-4">
            <CascadingAuthenticationState>
                <AuthorizeView>
                    <Authorized>
                        <NotificationsOneTimeComponent />
                        Здравствуйте, @context.User?.Identity?.Name 
                        <NavLink class="nav-link" href="account/logout" title="Выход">
                            <span class="oi oi-box-arrow-left" aria-hidden="true"></span> Выход
                        </NavLink>
                    </Authorized>
                    <NotAuthorized>
                        <a href="account/login">Вход</a>
                        <a href="account/register">Регистрация</a>
                    </NotAuthorized>
                </AuthorizeView>
            </CascadingAuthenticationState>
        </div>

        <article class="content px-4">
            @Body
            <Syncfusion.Blazor.Popups.SfDialogProvider />
        </article>
    </main>
</div>