@page "/account/logout"
@using CBT.Web.Blazor.Pages;
@using CBT.Web.Blazor.Pages.Identity;
@model LogoutModel

@{
    ViewData["Title"] = "КПТ - Выход из системы";
    Layout = "/Pages/Identity/_Layout.cshtml";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="" asp-page="/account/logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Нажмите для выхода</button>
            </form>
        }
        else
        {
            <p>Вы успешно выполнили выход из системы.</p>
        }
    }
</header>
