@page "/"

<PageTitle>Псионик - Главная</PageTitle>

<h1>Привет, Псионик!</h1>

<div class="alert alert-secondary mt-4">
    Добро пожаловать на наш сайт о когнитивно-поведенческой терапии. 
    Здесь ты найдешь популярные дневники, разработанные ведущими психологами и психотерапевтами.
    Заполняй их, отслеживай и УЛУЧШАЙ своё состояние!
</div>

<h2>История</h2>

<div class="alert alert-secondary mt-4">
    Первоначально сайт создавался как вспомогательный инструмент для возможности записывать свои мысли,
    не имея под рукой листка бумаги и ручки, и внести в одну базу записи, делавшиеся в разных блокнотах.
    В последствии появилось желание поделиться тем, что принесло мне ощутимый результат, с другими людьми, 
    испытывающими проблемы с психическим здоровьем.
</div>

<h2>Результаты</h2>

<div class="alert alert-secondary mt-4">
    <b>80</b> проработанных мыслей <b>за 3 месяца</b> по <a href="diary/three-columns">технике трёх колонок</a> дало <b>снижение дозировки нейролептиков на 25%</b>, необходимых для поддержания психического здоровья.
</div>
<div class="alert alert-secondary mt-4">
    <b>25</b> проработанных мыслей <b>за 1 месяц</b> по <a href="diary/automatic-thoughts">дневнику автоматических мыслей</a> дало <b>снижение на 50% дозировки антидепрессанта</b> и снижение вспомогательных препаратов.
</div>
<div class="alert alert-secondary mt-4">
    После проработок по <a href="diary/automatic-thoughts">дневнику автоматических мыслей</a> за <b>1 месяц</b> эмоциональное состояние <b>улучшилось на 70%</b>.
</div>

<h2>Дополнительные источники помощи</h2>

<div class="alert alert-secondary mt-4">
    <a href="https://www.youtube.com/watch?v=PlfhCNRDgcg&list=PLk_DIFMPglOYDUx1NfKPqVcKncC-_e4m_&index=3">Медитации, которые помогают понять, что мир более дружелюбен, чем это может казаться :-)</a> Каждый найдёт в медитации что-то своё.
    <br/>
    <b>85</b> часов медитации в течение <b>4-х месяцев</b> дало <b>снижение дозировки нейролептиков на 25%</b>.
</div>

<div class="alert alert-secondary mt-4">
    <a href="https://www.youtube.com/@@im_stoic/videos">Один канал о философии стоицизма.</a>
    Изучение в течение <b>одного месяца</b> этой древней философии помогло <b>принять одиночество</b> и <b>не тяготиться</b> им.
</div>

<div class="alert alert-secondary mt-4">
    Книги по КПТ: "Терапия настроения", "Терапия беспокойства" Дэвида Бернса. Ключ к пониманию эффективности методики. Содержат множество методик самопомощи.
    <br/>
    <b>30 часов (20 занятий)</b> разговорной терапии по методу КПТ. <a href="https://t.me/electrionics">запросить контакты психолога</a>.
</div>

<h2>Обратная связь</h2>

<div class="alert alert-secondary mt-4">
    Хочешь улучшить сайт? <a href="https://t.me/electrionics">Пиши!</a>
</div>

<h2>Действуй!</h2>

<div class="mt-4">
    <CascadingAuthenticationState>
        <AuthorizeView>
            <NotAuthorized>
                <a href="account/login">Нажми, чтобы зайти на сайт</a><br/>
                <a href="account/register">Нажми, чтобы зарегистрироваться</a>
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
</div>