<PageTitle>Псионик - Справочная информация</PageTitle>

<h2>Справочная информация</h2>

<div class="alert alert-secondary mt-4">
    <NavLink class="nav-link" href="references/cognitive-errors">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Список когнитивных ошибок
    </NavLink>
    <NavLink class="nav-link" href="diary/three-columns/example" title="Техника трех колонок">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Пример дневника "Техника трех колонок"
    </NavLink>
    <NavLink class="nav-link" href="diary/automatic-thoughts/example" title="Дневник автоматических мыслей">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Пример дневника автоматических мыслей
    </NavLink>
</div>