<h1>Мои задачи</h1>

<div class="alert alert-secondary mt-4">
    Приветствую тебя на странице задач. Здесь ты можешь добавлять новые задачи в список,
    изменять статус и отслеживать прогресс выполнения. Это важная часть, 
    поскольку именно сделанные дела являются доказательством того, что твое поведение меняется. А значит, меняешься и ты!
    Рекомендую создавать задачи на основе записей из дневников, таких как:
    <ul>
        <li>
            <a href="/diary/three-columns">Техника трёх колонок</a>,
            <a href="/diary/automatic-thoughts">Дневник автоматических мыслей</a>.
        </li>
    </ul>
</div>

@if (cognitiveErrors == null)
{
    <p><em>Загрузка...</em></p>
}
else
{

}
@code {

}
